@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--brand: #8c7a35;
	--brandOpacity: #8c7a359a;
	--bg: #ffffff;
	--fg: #2e2e2e;
	--neutral: #d9d9d9;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
